*.zwc

# git config files location
/git

# directory where you can install programs manually
programs

# ignore current installation
current

/playground

*.DS_Store

profiles/mrsauravsahu/*.gitconfig
!profiles/mrsauravsahu/template.gitconfig
!profiles/mrsauravsahu/.gitconfig
profiles/*/secret*

bash-oo-framework

current*