*.zwc

# git config files location
/git

# directory where you can install programs manually
programs

*conf.sh

# ignore current installation
current

/playground

*.DS_Store

profiles/mrsauravsahu/*.gitconfig

bash-oo-framework